<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.FactMapper">
    <select id="getKnownFacts"
            resultType="java.lang.String">
        select fact from known_facts
    </select>
    <insert
            id="insertKnownFact"
            parameterType="java.lang.String">
        insert into known_facts ("fact") VALUES ( #{fact})
    </insert>
</mapper>